<!DOCTYPE html>
<html lang="pl">
  <head>
  	<title>@pageTitle@</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
  	<link  rel="stylesheet" href="/static?style.css" type="text/css">
  	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<div id = "container">
      <div class="blok">
    		<div id="header"><p>Wystąpił błąd podczas zapisu!</p></div>
        <div id="main"><a class="button saveError" href="/losowanie">Powrót do losowania</a></div>
      </div>
    </div>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="static?js.js"></script>
  </body>
</html>
